.code-area .keyword {
    -fx-fill: #c678dd; /* Purple */
}
.code-area .comment {
    -fx-fill: #5c6370; /* Gray */
}
.code-area .string {
    -fx-fill: #98c379; /* Green */
}
.code-area .paren {
    -fx-fill: #56b6c2; /* Blue */
}
.code-area .semicolon {
    -fx-fill: #e06c75; /* Red */
}

#web-view {
    

}



#web-cont {
    -fx-background-color: rgb(33,33,33);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#header {
    -fx-background-color: rgb(75, 67, 118);
}

#footer {
    -fx-background-color: rgb(0, 0, 0, 0);
}

#main-pane {
    /* -fx-background-color: rgb(69, 46, 85); */
    -fx-background-color: linear-gradient(to right, #864899, #432557);
}

#center {
    -fx-background-color: rgb(95, 67, 138);
    -fx-background-radius: 20;
}

#center2 {
    -fx-background-color: rgba(132, 89, 197, 0.8);
    -fx-background-radius: 20;
}

#q-field {
    -fx-background-color: rgb(75, 67, 118);
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

#button-panel {
    -fx-background-color: rgb(75, 67, 118);
    -fx-background-radius: 20;
}

#info-grid {
    -fx-background-color: rgb(0, 0, 0, 0);
}

#console {
    -fx-font-weight: none;

    -fx-font-size: 12px; 
}

#info-web {
    
}

.side-labels {
    -fx-background-color: rgb(235, 149, 166);
    -fx-background-radius: 10px;
    -fx-pref-width: 150;
    -fx-max-width:  150;
    -fx-min-width:  150;
    -fx-max-height: 25;
    -fx-min-height: 25;
    -fx-pref-height: 25;
}

.text-area {
    -fx-prompt-text-fill: rgb(136, 133, 133);
    -fx-prompt-text-size: 12px;
    -fx-control-inner-background: #292828; /* Dark gray background */
    -fx-text-fill: #FFFFFF;               /* White text color */
                 /* Optional: Adjust font size */
}

.buttons {
    


    -fx-background-color: rgb(174, 68, 90);
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.buttons:selected {
    -fx-background-color: rgb(235, 149, 166);
}

.buttons:hover {
    -fx-background-color: rgb(235, 149, 166);
}

.side-panel {
    -fx-background-color: rgb(0, 0, 0, 0);
}



* {
    -fx-font-weight: bold;
}